body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
body > #root {
  position: relative;
  width: 100%;
  height: 100%;
}

body > #root {
  display: flex;
  flex-direction: column;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.media-onclick-cover:hover {
  background: #cee3f59e;
}

.sqleditor > section {
  flex: 1;
}

.monaco-editor:not(:focus-within) .view-overlays .current-line {
  border: unset !important;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}
