<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head data-version="<%= htmlWebpackPlugin.options.v%>">
        <meta charset="UTF-8" />
        <meta name="viewport"
            content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link href="/util.css" rel="stylesheet" />
        <title>Prostgles UI</title>
    </head>

    <body>
        <main id="root">
            <!-- Loader until js bundle loads -->
            <div class="spinner-loader ws-nowrap flex-row gap-1 ai-center m-auto"
                style="width: 30px; height: 30px; cursor: wait;"
            >
                <svg class="spinner f-0" width="30px" height="30px"
                    viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path  color-animation " fill="none" stroke-width="6" stroke-linecap="round" cx="33"
                        cy="33" r="30"></circle>
                </svg>
            </div>
        </main>

        <!-- Dependencies -->
        <% if (webpackConfig.mode=='production' ) { %>

            <% } else { %>

                <% } %>
    </body>

</html>