node_modules
prostgles_media
prostgles_storage
prostgles_backups
prostgles_certificates
prostgles_mcp
.electron-auth.json
**/.electron-auth.json
.prostgles-desktop-config.json
**/.prostgles-desktop-config.json

demo_utils/dist
client/build
client/static/icons
server/dist
server/media

BACKUP
.Trash-1000/
.npmrc
.npmignore
media
log.txt
ui
.aider*
.env
configs
debug