node_modules
prostgles_media
prostgles_backups
prostgles_certificates
.electron-auth.json
**/.electron-auth.json

demo_utils/dist
client/build
client/static/icons
server/dist
server/media

BACKUP
.Trash-1000/
.npmrc
.npmignore
media
log.txt
ui
.aider*
.env
configs
debug