# docker-compose.yml

name: prostgles
services:
  db:
    image: prostgles/ui-db:latest
    build:
      context: .
      dockerfile: DB-Dockerfile 
    container_name: prostgles-ui-db
    restart: unless-stopped

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    command: >
      postgres 
      -c shared_preload_libraries=pg_stat_statements  
      -c max_connections=200

    ports:
      - 5432/tcp

    volumes:
      - db:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "sleep 1 && pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}",
        ]
      timeout: 3s
      retries: 5

  ui:
    image: prostgles/ui:latest
    container_name: prostgles-ui
    restart: unless-stopped

    build:
      context: .
      dockerfile: Dockerfile

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PROSTGLES_UI_HOST: "0.0.0.0"
      POSTGRES_HOST: db
      IS_DOCKER: "yes"
      NODE_ENV: "production"

    depends_on:
      db:
        condition: service_healthy

    ## Used to allow connecting to a database from the host
    extra_hosts:
      - "host.docker.internal:host-gateway"

    ## DEBUG -> Ensure NODE_ENV above is not set to 'production'
    # command: node --inspect=0.0.0.0:9229 /usr/src/app/server/dist/server/src/index.js
    command: node /usr/src/app/server/dist/server/src/index.js
    ports:
      - "${PRGL_DOCKER_IP:-127.0.0.1}:${PRGL_DOCKER_PORT-3004}:3004"
      # DEBUG
      # - '${PRGL_DOCKER_IP:-127.0.0.1}:9229:9229'

volumes:
  db:
