# Prostgles UI state database
POSTGRES_HOST=127.0.0.1
POSTGRES_DB=db
POSTGRES_PORT=5432
POSTGRES_USER=usr
POSTGRES_PASSWORD=psw

# Database exposed by this config
PROSTGLES_UI_PORT=3005
PROSTGLES_DATABASE_NAME=cli_e2e_config_db
