.box {
  clip-path: circle(15% at 50% 10%);
  /* transition: clip-path 1s; */
}

.box:hover {
  clip-path: circle(25%);
}


.popup-component-root.positioning_tooltip {
  pointer-events: none ;
  touch-action: none;
}