.table-component .sort-asc::after {
  content: "\25b2";
  color: var(--text-0);
  margin-left: 0.25em;
  height: fit-content;
}
.table-component .sort-desc::after {
  content: "\25bc";
  color: var(--text-0);
  margin-left: 0.25em;
  height: fit-content;
}
.table-component .sort-none::after {
  /*
    used to avoid content shift. Disabled to preserve space 
    content: "\25bc";     
  */
  color: transparent;
  margin-left: 0.25em;
  height: fit-content;
}

.table-component .hover:hover {
  background-color: rgba(0, 183, 255, 0.04);
}

.table-component .d-row {
  max-height: 100px;
}

.table-component .d-row.active-row {
  border: 1px solid #00d0ff;
  background: #def9ff;
}

.resizing-ew {
  border-right: 2px solid #00d0ff !important;
}

.table-component .table-column-label {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 0;
  display: block;
  -webkit-box-orient: vertical;
}

.table-component div[role="table"] {
  background-color: white;
}

.dark-theme .table-component div[role="table"] {
  background-color: #1e1e1e;
}
