.chat-container.chat-component .active-color {
  color: rgb(5, 149, 252);
}

.chat-container.chat-component .bg-active-hover:hover {
  background: rgba(5, 149, 252, 0.3);
}

.chat-container.chat-component {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  /* background: var(--gray-100); */
  /* border: 1px solid var(--gray-300); */
}

.chat-container.chat-component .send-wrapper {
  flex: 0 0 auto;
  min-width: 0px;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat-container.chat-component .send-wrapper textarea {
  flex: 1 1 0%;
  resize: none;
  color: var(--text-1);
  border: none;
  font-size: 16px;
  field-sizing: content;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.chat-container.chat-component .send-wrapper button {
  flex: 0 0 auto;
  cursor: pointer;
}

.chat-container.chat-component .send-wrapper svg {
  width: 1.5rem;
  height: 1.5rem;
}

.chat-container.chat-component .send-wrapper svg path {
  fill: currentColor;
}

.chat-container.chat-component .message-list {
  line-height: 1.75rem;
  position: relative;
  flex: 1 1 0%;
  min-width: 0px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  overflow: unset;
  padding: 1em;
  align-self: center;
  /* scroll-behavior: smooth; */
}

.chat-container.chat-component .message {
  color: var(--text-0);
  flex: 0 0 auto;
  opacity: 1;
}
.chat-container.chat-component .message .content-wrapper {
  padding: 8px 12px;
  border-radius: 12px;
  min-width: 2em;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.chat-container.chat-component .message:not(.incoming) {
  margin-left: auto;
}
.chat-container.chat-component .message:not(.incoming) .content-wrapper {
  background: var(--bg-color-2);
  margin-bottom: 0.5em;
}

.chat-container.chat-component .message.incoming {
  max-width: 100%;
  min-width: 2em;
  margin-left: unset;
}

.chat-container.chat-component .message.media {
  padding: 0;
  background: none;
  width: fit-content;
  max-width: unset;
  height: fit-content;
}

.chat-container.chat-component .message video,
.chat-container.chat-component .message audio {
  outline: none;
}
