.MonacoEditor .monaco-editor-overlaymessage .message {
  background-color: var(--red-100) !important;
  color: var(--red-900) !important;
  border-color: var(--red-400) !important;
  padding: 5px !important;
}

.MonacoEditor .monaco-editor-overlaymessage .anchor {
  border-top-color: var(--red-900) !important;
}

.MonacoEditor .monaco-editor {
  outline: none !important;
}

/** string token. defineTheme for dark theme not working */
.dark-theme .mtk20 {
  color: #dd7575 !important;
}

/** function token */
.dark-theme .mtk18 {
  color: #df77df !important;
}
