.map-controls-right > * {
  transform: translate(calc(100% + 20px), 0px);
}

.map-controls-right > *:nth-child(1) {
  transition: 0.3s transform;
}
.map-controls-right > *:nth-child(2) {
  transition: 0.6s transform;
}
.map-controls-right > *:nth-child(3) {
  transition: 0.9s transform;
}

.map-controls-right {
  padding: 1em;
  transition: 0.3s all;
  background-color: transparent;
  transform: translate(calc(100% - 30px), 0px);
}
.map-controls-right:hover {
  background-color: white;
  transform: translate(0, 0px);
  overflow: auto;

  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.dark-theme .map-controls-right:hover {
  background-color: var(--gray-900);
  /* background-color: transparent;
  backdrop-filter: blur(4px); */
}
.map-controls-right:hover > * {
  transform: translate(0, 0);
}

.in-map-hover-control {
  opacity: 0.45;
}
.in-map-hover-control:hover {
  opacity: 1;
}
