.chip {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  line-height: 1rem;
  font-size: 0.75rem;
  font-weight: 500;

  align-items: center;
  /* text-transform: capitalize; */
  border-radius: 1em;
  white-space: nowrap;

  width: fit-content;
  height: fit-content;
  text-align: start;
}

.chip.lg {
  font-size: 1em;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.chip.green {
  color: var(--green-500);
}
.chip.variant-naked {
  gap: 4px;
}
.chip.variant-default,
.chip.variant-outline {
  background-color: var(--bg-color-1);
}
.chip.variant-outline {
  border: 1px solid var(--text-2);
}

.chip.green.variant-default,
.chip.green.variant-outline {
  background-color: var(--green-100);
}
.chip.yellow {
  color: var(--yellow-500);
}
.chip.yellow.variant-default,
.chip.yellow.variant-outline {
  background-color: var(--yellow-100);
}
.chip.red {
  color: var(--red-500);
}
.chip.red.variant-default,
.chip.red.variant-outline {
  background-color: var(--red-100);
}
.chip.gray.variant-default,
.chip.gray.variant-outline {
  background-color: var(--bg-color-1);
}
.chip.blue {
  color: var(--blue-500);
}
.chip.blue.variant-default,
.chip.blue.variant-outline {
  background-color: var(--blue-100);
}

.dark-theme .chip.blue.variant-default,
.chip.blue.variant-outline {
  background-color: #242d37;
}
