input.custom-input {
  -webkit-appearance: none !important;
  padding: 0.5em;
  padding-bottom: 4px;
  font-size: 16px;
  outline: none;
  font-weight: 600;
  /* border: 1px solid rgb(223, 223, 223); */
  border: unset;
}

.input-focus.error:focus,
/* input.custom-input:focus, */
.focus-border.error:focus-within {
  -webkit-appearance: none !important;
  border: 1px solid rgb(255, 0, 0);
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.151);
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.151);
}

.list-comp ul, ul.no-decor {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.list-comp label {
  text-align: start;
}

.list-comp li:not(.no-hover, :active, :focus):hover ,
.list-comp li:not(.no-hover, :active, :focus).hover , 
ul > li[role=option]:not(.no-hover, :active, :focus):hover {
  background-color: var(--li-hover-bg);
  border: none;
  outline: none;
}

ul > li:focus {
  background-color: var(--li-focus-bg);
  border: none;
  outline: none;
}