/* .DragOverUpload .DragOverUpload_Border {
  animation: border-dance 4s infinite linear;
} */

.rotating-border {
  /* width: max-content; */
  background: linear-gradient(90deg, purple 50%, transparent 50%),
    linear-gradient(90deg, purple 50%, transparent 50%),
    linear-gradient(0deg, purple 50%, transparent 50%),
    linear-gradient(0deg, purple 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size:
    15px 4px,
    15px 4px,
    4px 15px,
    4px 15px;
  padding: 10px;
  animation: border-dance 14s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position:
      0 0,
      100% 100%,
      0 100%,
      100% 0;
  }
  100% {
    background-position:
      100% 0,
      0 100%,
      0 0,
      100% 100%;
  }
}
