name: On Release
on: push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build_docker_images:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    strategy:
      fail-fast: false # Optional: Prevent other matrix jobs from being cancelled if one fails
      matrix:
        include: # Define the specific combinations you need
          - image_name: ui
            dockerfile: Dockerfile
          - image_name: ui-db
            dockerfile: DB-Dockerfile
          # Add more entries here if you have more images to build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install jq and extract version
        id: extract_version
        run: |
          sudo apt-get update
          sudo apt-get install -y jq
          VERSION=$(cat package.json | jq -r .version)
          echo "version=v$VERSION" >> $GITHUB_OUTPUT
          echo "Extracted version: v$VERSION"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push ui
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64
          push: true
          tags: |
            prostgles/${{ matrix.image_name }}:latest
            prostgles/${{ matrix.image_name }}:${{ steps.extract_version.outputs.version }}

  build_linux:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Build Linux
        run: |
          sudo apt-get install rpm -y && \
          cd electron && npm run build-linux
          cd dist
          sha256sum *.* > linux.checksums
          echo linux.checksums
      - name: Release Linux
        uses: softprops/action-gh-release@v2
        with:
          files: |
            electron/dist/**/*.deb
            electron/dist/**/*.rpm
            electron/dist/**/*.AppImage
            electron/dist/**/*.checksums
  build_windows:
    timeout-minutes: 20
    runs-on: windows-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Build Windows
        shell: cmd
        run: |
          cd electron 
          npm run build-win
          cd dist
          for /r %%f in (*.exe) DO certutil -hashfile "%%f" SHA256 > windows.checksums
          type windows.checksums
      - name: Release Windows
        uses: softprops/action-gh-release@v2
        with:
          files: |
            electron/dist/**/*.exe
            electron/dist/**/*.checksums
  build_macos:
    timeout-minutes: 20
    runs-on: macos-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Build MacOS
        run: |
          cd electron 
          npm run build-macos
          rm -rf ./dist/mac-universal
          cd dist
          shasum -a 256 *.* > macos.checksums
          cat macos.checksums
      - name: Release MacOS
        uses: softprops/action-gh-release@v2
        with:
          files: |
            electron/dist/**/*.dmg
            electron/dist/**/*.checksums
