name: Ensure package version is higher
on:
  pull_request:
    branches: [main, master]
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  test_docker:
    name: Run test suite
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get versions
        id: pr-version
        run: |
          sudo apt  install jq
          ./scripts/get_version.sh > pr_version.txt
          git fetch origin ${{ github.base_ref }} --depth=1
          git checkout origin/${{ github.base_ref }} -- package.json ./electron/package.json

          ./scripts/get_version.sh > current_version.txt
          if ./scripts/get_version.sh > /dev/null 2>&1; then
            ./scripts/get_version.sh > current_version.txt
          else
            ./scripts/get_version.sh ""./electron/package.json" > current_version.txt
          fi

      - name: Compare versions
        run: |
          current_version=$(cat current_version.txt)
          pr_version=$(cat pr_version.txt) 
          if [ "$(printf '%s\n' "$current_version" "$pr_version" | sort -V | head -n1)" = "$pr_version" ]; then
            echo "Version in package.json is not greater than the version in the base branch: $current_version <= $pr_version"
            exit 1
          else
            echo "Version check passed: $current_version <= $pr_version"
          fi

      - name: Ensure Changelog exists
        if: success() # Ensure version comparison passed
        run: |
          pr_version=$(cat pr_version.txt) 
          base_ref="${{ github.base_ref }}"
          release_file_path="./changelog/v${pr_version}.md"

          echo "Checking for changelog file: ${release_file_path}"

          if [ -f "$release_file_path" ]; then
            echo "Changelog file found: ${release_file_path}"
          else

            echo "Changelog file not found for v${pr_version}."
            echo "Ensure this file exists: ${release_file_path}"

            exit 1
          fi
